<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>eShop</title>
</head>
<body class="site">
    <div id="app">
        <header class="site-header">
            <div class="header-form">
                <search v-model="searchLine" v-on:input="filterGoods"></search>
                <!-- <input v-model="searchLine" type="text" class="header-search">
                <button v-on:click="filterGoods" class="search-button">Найти</button> -->
            </div>
            <cart></cart>
            <!-- <button @click="handelCart" class="cart-button" type="button">Корзина</button> -->
        </header>
        <main class="site-content container">
            <div class="goods-list">
                <div class="goods-item" v-for="good in filteredGoods">
                    <h3>{{ good.product_name }}</h3>
                    <p>{{ good.price }}</p>
                </div>
            </div>
            <div v-show="isVisibleCart" class="content-cart">
                корзина
            </div>
        </main>
        <footer class="site-footer">
            <span class="site-foote-copy">js2 &copy; 2021</span>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
    <script src="js/components.js"></script>
</body>
</html>